body{
		background-color: #20B2AA;
}
.forum{
	margin-bottom: 6%;
	margin-top: 10%;


}
.textform{
	color: white;
}
.textform-1{
	color: white;
	font-size:20px;
	font-weight: bold;
	font-family: inherit;
	line-height: 29px;
	margin-top:15px;
	
	word-spacing: -1px;
	text-align: center;
}
.formlogin{
	color:  #162B3E ;
	padding: 10% 5%;
	border-radius: 70px;
	background-color: white;
	height: 560px;
}
 .btn {
	background-color: grey;
}
